/*------------------------------------------------------------------

Table of contents:


1. Navigation
2. Header
3. Footer
4. Copyright
5. Pages
   5.1 - 404 Page
   5.2 - Coming Soon
   5.3 - Pricing
   5.4 - Contact
   5.5 - FAQ
   5.6 - Terms
   5.7 - Privacy
   5.8 - About
   5.9 - Services
  5.10 - Support
  5.11 - Home

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Navigation
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
2. Header
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
3. Footer
-------------------------------------------------------------------*/

.section-footer {
    padding-top:30px;
    padding-bottom:30px;
    color:#28292A;
    position: relative;
    z-index: 2;
}
.section-footer h3,
.section-footer h4,
.section-footer p {
    text-align: left;
}
.section-footer h3.center,
.section-footer h4.center,
.section-footer p.center {
    text-align: center;
}
.section-footer h4 {
    font-size: 15px;
    text-transform: uppercase;
}
.section-footer h3,
.section-footer h4 {
    font-family: 'Dosis', 'Open Sans', arial;
    color: white;
    font-weight: 800
}
.section-footer p,
.section-footer a {
    color:#7E7E7E;
    font-size: 13px;
    margin-bottom: 5px;
}
.section-footer.bg-dark p {
    color:#B6B6B6 !important;
}
.section-footer.bg-dark a {
    color:#D0D0D0 !important;
}
.section-footer.bg-dark a:hover {
    color:#fff !important;
}
.section-footer i {
    padding-right: 6px;
}



.footer-wrap {
    background: #28292A
}
.social-icons ul {
    padding: 0em;
}
.social-icons ul li{
    display:inline-block
}
.social-square li {
    text-align: left;
    margin-right: 4px;
}
.social-square li:first-child {
    margin-right: 5px;
}
.social-square.social-icons ul li a {
    margin:0;
}
.social-square i {
    font-size: 20px;
    width:35px;
    height:35px;
    padding: 5px;
    background: #EAEAEA;
    text-align: center;
    color:#494949;
    transition:all .2s ease-in;
    -webkit-transition:all .2s ease-in;
    -moz-transition:all .2s ease-in;
}
.social-square .fa-facebook:hover {
    background: #3b5998;
    color: #fff;
}
.social-square .fa-twitter:hover {
    background: #00aced;
    color:#fff;
}
.social-square .fa-google-plus:hover {
    background: #d34836;
    color:#fff;
}
.social-square .fa-pinterest:hover {
    background: #cb2027;
    color: #fff;
}
.social-square .fa-flickr:hover {
    background: #ff0084;
    color:#fff;
}
.social-square .fa-linkedin:hover {
    background: #007bb6;
    color:#fff;
}



/*------------------------------------------------------------------
4. Copyright
-------------------------------------------------------------------*/

.copyright-menu {
    padding-top: 10px;
    color: white;
}
.copyright-menu a {
    color: white;
}

.copyright-menu a:hover {
    color: #7E7E7E;
    text-decoration: none;
}


/*------------------------------------------------------------------
5. Pages
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.1 - 404 Page
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.2 - Coming Soon
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.3 - Pricing
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.4 - Contact
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.5 - FAQ
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.6 - Terms
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.7 - Privacy
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.8 - About
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.9 - Services
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.10 - Support
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5.11 - Home
-------------------------------------------------------------------*/
#home-one {
    background-image: url("/img/Dollarphotoclub_82022098.jpg");
    padding-top: 50px;
    background-color: #1b6d85;
    height: 500px;
}
#home-two {
    background-color: #3c3c3c;
    padding: 50px 0px;
}
#home-three {
    background-color: #1b6d85;
    padding: 50px 0px;
}
#home-four {
    background-color: #3c3c3c;
    padding: 50px 0px;
}
