<template name="footer">
    <div class="section-footer footer-wrap">
        <div class="container footer center">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4>Company Info</h4>
                    <p>Web agency created in 2014
                        Specialized in theme design template
                        Contact us for custom project
                        Make your own template with us</p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4>Contact Info</h4>
                    <p><i class="fa fa-map-marker col-xs-1"></i><span class="col-xs-11"> P.O. Box 231092 </span></p>
                    <p><i class="col-xs-1"></i><span class="col-xs-11">Encinitas, CA 92023-1092</span></p>
                    <p><i class="fa fa-phone col-xs-1"></i><span class="col-xs-11">(760) 845-1339</span></p>
                    <p><i class="fa fa-envelope col-xs-1"></i><span class="col-xs-11">info@datadrivenshipping.com</span></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4>Support</h4>
                    <p><a href="/faq">Faq</a></p>
                    <p><a href="/terms">Terms of Services</a></p>
                    <p><a href="/privacy">Privacy Policy</a></p>
                    <p><a href="/contact">Contact us</a></p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <h4>Get In Touch</h4>
                    <div class="social-icons social-square">
                        <ul class="text-left clearfix">
                            <li><a href="#" class="animated" data-animation="fadeIn" data-animation-delay="300"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="animated" data-animation="fadeIn" data-animation-delay="500"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="animated" data-animation="fadeIn" data-animation-delay="700"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="animated" data-animation="fadeIn" data-animation-delay="900"><i class="fa fa-pinterest"></i></a></li>
                            <li><a href="#" class="animated" data-animation="fadeIn" data-animation-delay="1200"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <p class="copyright-menu">
                        {{{Config.footer}}}
                    </p>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <p class="copyright-menu">
                            <a href="/">Home</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <p class="copyright-menu">
                            <a href="/services">Services</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <p class="copyright-menu">
                            <a href="/pricing">Pricing</a>
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <p class="copyright-menu">
                            <a href="/support">Support</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>