<template name="sideBar">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            {{>sideBarUserPanel}}
            <!-- search form -->
            {{>searchForm}}
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <li class="active treeview">
                    <a href="/dashboard">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/dashboard/company">
                        <i class="fa fa-th-list"></i> <span>Companies</span> <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/dashboard/company"><i class="fa fa-circle-o"></i> Search Companies</a></li>
                        <li><a href="/dashboard/company"><i class="fa fa-circle-o"></i> Add Company</a></li>
                    </ul>
                </li>
                <!--<li class="treeview">
                    <a href="#">
                        <i class="fa fa-pie-chart"></i> <span>Charts</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-laptop"></i> <span>UI Elements</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-edit"></i> <span>Forms</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-table"></i> <span>Tables</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <i class="fa fa-calendar"></i> <span>Calendar</span>
                    </a>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-envelope"></i>
                        <span>Mailbox</span>
                        <small class="label pull-right bg-yellow">13</small>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="/mailbox/inbox">Inbox <span class="label label-primary pull-right">13</span></a></li>
                        <li><a href="/mailbox/compose">Compose</a></li>
                        <li><a href="/mailbox/readmail">Read</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-share"></i> <span>Multilevel</span>
                    </a>
                </li>-->
                <li class="header">LABELS</li>
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
                <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
</template>