<template name="dashboard">
    <div class="container">
        <!-- Main content -->
        <section class="content">
            <!-- Small boxes (Stat box) -->
            <div class="row">
            </div><!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <section class="col-lg-7 connectedSortable">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="well"></div>

                    <!-- Chat box -->
                    <div class="well"></div>

                    <!-- TO DO List -->
                    <div class="well"></div>

                    <!-- quick email widget -->
                    <div class="well"></div>

                </section><!-- /.Left col -->
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-5 connectedSortable">

                    <!-- Map box -->
                    <div class="well"></div>

                    <!-- solid sales graph -->
                    <div class="well"></div>

                    <!-- Calendar -->
                    <div class="well"></div>

                </section><!-- right col -->
            </div><!-- /.row (main row) -->

        </section><!-- /.content -->
    </div>
</template>