<template name="home">
    <div class="filling">
        <section class="home-one">
            <div class="center-block container">
                <h1 class="text-center">Home Page</h1>
            </div>
        </section>
        <section class="home-two">
            <div class="information">
                <div class="container">
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <h2>1. Dream</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas dui leo, iaculis at metus et, suscipit dignissim nibh.
                            Praesent vulputate erat ut fringilla mattis. Nulla facilisi.
                            Aenean sit amet neque quis leo ultrices mattis. Nunc in mollis tellus, ac congue augue.
                            Duis eget dapibus ante. Nam tellus lectus, lobortis id libero vel, ornare semper nunc.
                            Nullam lobortis dolor ac sodales dictum. Nullam sodales neque nisl, id molestie urna elementum a.
                            Donec eu feugiat ligula. Etiam pharetra augue nec risus euismod, eu cursus augue lobortis.
                            Donec efficitur aliquam congue. Nullam at lorem urna. Morbi congue dolor a turpis tincidunt, sed tincidunt nisl finibus.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <h2>2. Collaborate</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas dui leo, iaculis at metus et, suscipit dignissim nibh.
                            Praesent vulputate erat ut fringilla mattis. Nulla facilisi.
                            Aenean sit amet neque quis leo ultrices mattis. Nunc in mollis tellus, ac congue augue.
                            Duis eget dapibus ante. Nam tellus lectus, lobortis id libero vel, ornare semper nunc.
                            Nullam lobortis dolor ac sodales dictum. Nullam sodales neque nisl, id molestie urna elementum a.
                            Donec eu feugiat ligula. Etiam pharetra augue nec risus euismod, eu cursus augue lobortis.
                            Donec efficitur aliquam congue. Nullam at lorem urna. Morbi congue dolor a turpis tincidunt, sed tincidunt nisl finibus.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 text-center">
                        <h2>3. Build</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Maecenas dui leo, iaculis at metus et, suscipit dignissim nibh.
                            Praesent vulputate erat ut fringilla mattis. Nulla facilisi.
                            Aenean sit amet neque quis leo ultrices mattis. Nunc in mollis tellus, ac congue augue.
                            Duis eget dapibus ante. Nam tellus lectus, lobortis id libero vel, ornare semper nunc.
                            Nullam lobortis dolor ac sodales dictum. Nullam sodales neque nisl, id molestie urna elementum a.
                            Donec eu feugiat ligula. Etiam pharetra augue nec risus euismod, eu cursus augue lobortis.
                            Donec efficitur aliquam congue. Nullam at lorem urna. Morbi congue dolor a turpis tincidunt, sed tincidunt nisl finibus.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="home-three">
            <div class="container">
                <div class="col-xs-12 col-sm-6 pull-left text-center">
                    <h1>To the Left . . . </h1>
                    <p> Attempting to pull this side to the left during this section</p>
                </div>
                <div class="col-xs-12 col-sm-6 pull-right text-center">
                    <h1>Alright, alright, all right!</h1>
                    <p> To follow up, this should pull to the right</p>
                </div>
            </div>
        </section>
        <section class="home-four">
            <div class="container">
                <div class="col-xs-12 col-md-6 text-center pull-left">
                    <h1>Now heres something you'll really enjoy.</h1>
                </div>
                <div class="col-xs-12 col-md-6 text-center pull-right">
                    <img src="/img/flatblock.jpg">
                </div>
            </div>
        </section>
        <section class="home-five">
            <div class="container">
                <div class="some-box pull-left col-sm-6 col-xs-12">
                    <h1>Now its time for a break down</h1>
                    <a>Never gonna get it, never gonna get it, never gonna get it.</a>
                </div>
                <div class="mailchimp container col-sm-6 col-xs-12 pull-right">




                    <!-- Begin MailChimp Signup Form -->
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
                    <style type="text/css">
                        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
                        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                    </style>
                    <div id="mc_embed_signup">
                        <form action="cfc06c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL">Subscribe to our mailing list</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="28" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>

                    <!--End mc_embed_signup-->


                </div>
            </div>
        </section>
    </div>
</template>

