<template name="pricing">

    <div class="content frontend">
        <div class="box-title container">
            <h1>Pricing</h1>
        </div>

        <div class="contact container">

            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-pills nav-justified" role="tablist">
                    <li role="presentation" class="active"><a href="#compare" aria-controls="home" role="tab" data-toggle="pill">Compare</a></li>
                    <li role="presentation"><a href="#monthly" aria-controls="profile" role="tab" data-toggle="pill">Monthly</a></li>
                    <li role="presentation"><a href="#annual" aria-controls="messages" role="tab" data-toggle="pill">Annual</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="compare">

                    </div>





                    <div role="tabpanel" class="tab-pane" id="monthly">
                    </div>

                    <div role="tabpanel" class="tab-pane" id="annual">

                    </div>
                </div>
            </div>

        </div>
    </div>

</template>