<template name="profile">
    <div class="content-wrapper">
        <div class="container">
            <div class="profile-header">
                <div class="jumbotron row text-center" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg)">
                    <div class="profile-photo center-block">
                        <img src="/img/avatar.png" class="img-circle">
                    </div>
                </div>
                <div class="row">
                    <div class="pull-left col-sm-12 col-md-6">
                        <div class="leader">
                            <h2>About Us</h2>
                        </div>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas dui leo, iaculis at metus et, suscipit dignissim nibh.
                            </p>
                        </div>
                    </div>
                    <div class="pull-right col-sm-12 col-md-6">
                        <div class="leader">
                            <h2>About Us</h2>
                        </div>
                        <div class="text-left">
                            <div class="sidebar-nav">
                                <div class="well" style="width:300px; padding: 8px 0;">
                                    <ul class="nav nav-list">
                                        <li class="nav-header">Main</li>
                                        <li class="active"><a href="index"><i class="icon-home"></i> Dashboard</a></li>
                                        <li><a href="#"><i class="icon-edit"></i>ACT_STAT</a></li>
                                        <li><a href="#"><i class="icon-calendar"></i>CENSUS_NUM</a></li>
                                        <li><a href="#"><i class="icon-user"></i>CARSHIP</a></li>
                                        <li><a href="#"><i class="icon-user"></i>NAME </a></li>
                                        <li><a href="#"><i class="icon-user"></i>NAME_DBA</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC_DOCKET_1_PREFIX</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC1</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC_DOCKET_2_PREFIX</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC2</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC_DOCKET_3_PREFIX</a></li>
                                        <li><a href="#"><i class="icon-user"></i>ICC3</a></li>
                                        <li><a href="#"><i class="icon-user"></i>MAI_STR</a></li>
                                        <li><a href="#"><i class="icon-user"></i>MAI_CITY</a></li>
                                        <li><a href="#"><i class="icon-user"></i>MAI_ST</a></li>
                                        <li><a href="#"><i class="icon-user"></i>MAI_ZIP</a></li>
                                        <li><a href="#"><i class="icon-user"></i>PHY_STR</a></li>
                                        <li><a href="#"><i class="icon-user"></i>PHY_CITY</a></li>
                                        <li><a href="#"><i class="icon-user"></i>PHY_ST</a></li>
                                        <li><a href="#"><i class="icon-user"></i>PHY_ZIP</a></li>
                                        <li><a href="#"><i class="icon-user"></i>TEL_NUM</a></li>
                                        <li><a href="#"><i class="icon-user"></i>CELL_NUM</a></li>
                                        <li><a href="#"><i class="icon-user"></i>FAX_NUM</a></li>
                                        <li><a href="#"><i class="icon-user"></i>EMAILADDRESS</a></li>
                                        <li><a href="#"><i class="icon-user"></i>FLEETSIZE</a></li>
                                        <li><a href="#"><i class="icon-user"></i>COMPANY_REP1</a></li>
                                        <li><a href="#"><i class="icon-user"></i>COMPANY_REP2</a></li>
                                        <li><a href="#"><i class="icon-comment"></i> Comments</a></li>
                                        <li><a href="#"><i class="icon-picture"></i> Gallery</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">




                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <p>ACT_STAT ,
                            CENSUS_NUM ,
                            CARSHIP ,
                            NAME ,
                            NAME_DBA ,
                            ICC_DOCKET_1_PREFIX ,
                            ICC1 ,
                            ICC_DOCKET_2_PREFIX ,
                            ICC2 ,
                            ICC_DOCKET_3_PREFIX ,
                            ICC3 ,
                            MAI_STR ,
                            MAI_CITY ,
                            MAI_ST ,
                            MAI_ZIP ,
                            PHY_STR ,
                            PHY_CITY ,
                            PHY_ST ,
                            PHY_ZIP ,
                            TEL_NUM ,
                            CELL_NUM ,
                            FAX_NUM ,
                            EMAILADDRESS ,
                            FLEETSIZE ,
                            COMPANY_REP1 ,
                            COMPANY_REP2</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">...</div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div class="container">
                                Account
                                Security and privacy
                                Password
                                Cards and shipping
                                Order history
                                Mobile
                                Email notifications
                                Web notifications
                                Find friends
                                Muted accounts
                                Blocked accounts
                                Support
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>