<template name="profile">
    <div class="content-wrapper">
        <div class="container">
            <div class="profile-header">
                <div class="jumbotron row text-center" style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg)">
                    <div class="profile-photo center-block">
                        <img src="/img/avatar.png" class="img-circle">
                    </div>
                </div>
                <div class="row">
                    <div class="pull-left col-sm-12 col-md-6">
                        <div class="leader">
                            <h2>About Us</h2>
                        </div>
                        <div class="text-left">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Maecenas dui leo, iaculis at metus et, suscipit dignissim nibh.
                            </p>
                        </div>
                    </div>
                    <div class="pull-right col-sm-12 col-md-6">
                        <div class="leader">
                            <h2>About Us</h2>
                        </div>
                        <div class="text-left">
                            <p>
                                ACT_STAT ,
                                CENSUS_NUM ,
                                CARSHIP ,
                                NAME ,
                                NAME_DBA ,
                                ICC_DOCKET_1_PREFIX ,
                                ICC1 ,
                                ICC_DOCKET_2_PREFIX ,
                                ICC2 ,
                                ICC_DOCKET_3_PREFIX ,
                                ICC3 ,
                                MAI_STR ,
                                MAI_CITY ,
                                MAI_ST ,
                                MAI_ZIP ,
                                PHY_STR ,
                                PHY_CITY ,
                                PHY_ST ,
                                PHY_ZIP ,
                                TEL_NUM ,
                                CELL_NUM ,
                                FAX_NUM ,
                                EMAILADDRESS ,
                                FLEETSIZE ,
                                COMPANY_REP1 ,
                                COMPANY_REP2
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row container">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">




                        </div>
                        <div role="tabpanel" class="tab-pane" id="profile">
                            <p>ACT_STAT ,
                            CENSUS_NUM ,
                            CARSHIP ,
                            NAME ,
                            NAME_DBA ,
                            ICC_DOCKET_1_PREFIX ,
                            ICC1 ,
                            ICC_DOCKET_2_PREFIX ,
                            ICC2 ,
                            ICC_DOCKET_3_PREFIX ,
                            ICC3 ,
                            MAI_STR ,
                            MAI_CITY ,
                            MAI_ST ,
                            MAI_ZIP ,
                            PHY_STR ,
                            PHY_CITY ,
                            PHY_ST ,
                            PHY_ZIP ,
                            TEL_NUM ,
                            CELL_NUM ,
                            FAX_NUM ,
                            EMAILADDRESS ,
                            FLEETSIZE ,
                            COMPANY_REP1 ,
                            COMPANY_REP2</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="messages">...</div>
                        <div role="tabpanel" class="tab-pane" id="settings">
                            <div class="container">
                                Account
                                Security and privacy
                                Password
                                Cards and shipping
                                Order history
                                Mobile
                                Email notifications
                                Web notifications
                                Find friends
                                Muted accounts
                                Blocked accounts
                                Support
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>